<turbo_frame id="current-chat">
  <div id="<%= dom_id chat %>" class="min-h-75">
    <div id="history-area" class="min-h-full">
      <% unless chat.q_and_a.blank? %>
        <% chat.q_and_a.each do |q, a| %>
          <div class="question_area">
            <div class="you">You</div>
            <div class="question"><%= simple_format q %></div>
          </div>
          <div class="answer_area">
            <div class="open_ai">OpenAI</div>
            <div class="answer"><%= simple_format a %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>  
</turbo_frame>
